html,body{
    background-color: #ddceb7;
}

#title {
    background: #ea9d3e;
}

#title a {
    font-family: "Amatic SC";
    font-size: 50px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    color: black;
    height: 80px;
    padding: 45px;
    float: none;
}

body {
    padding-top: 133px;
    font-family: 'Quicksand', sans-serif;
}

section#top {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: #FFFFFF;
    text-align: center;
    float: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

}

section#middle {


}

section#bottom {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: #FFFFFF;
    text-align: center;
    float: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

}
.container-fluid, .row{
    background-color: #ffffff;
}
.sidebar {
    padding: 12px;
    background-color: #ddceb7;
}

form {
    padding-top: 12px;
}

#map-canvas {
    height:100%;
    position: absolute;
    right:0;
}

#habitat {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
.button_div {
    padding-top: 10px;
}


#welcomeText {
    padding-top: 50px;
}

.footer {
    font-family: "Amatic SC";
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 30px;
    background: #ddceb7;
    color: #ddceb7;
    font-size: 1em;
    padding: 0 50px;
}

/* relevant styles */
.img__wrap {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #FFFFFF;
}

.img__wrap2 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #FFFFFF;
}

.img__wrap3 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #FFFFFF;
}

.img__wrap4 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #FFFFFF;
}

.img__wrap5 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #FFFFFF;
}

.img__wrap6 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #FFFFFF;
}

.img__description_layer {
    position: absolute;
    background: #FFFFFF;

    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
    background-color: #FFFFFF;
}

.img__wrap2:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
    background-color: #FFFFFF;
}

.img__wrap3:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
    background-color: #FFFFFF;
}

.img__wrap4:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
    background-color: #FFFFFF;
}

.img__wrap5:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
    background-color: #FFFFFF;
}

.img__wrap6:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
    background-color: #EEC33D;
}
.img__description {
    transition: .2s;
    transform: translateY(1em);
    background-color: #FFFFFF;
}

.img__wrap:hover .img__description {
      transform: translateY(0);
      background-color: #EEC33D;
  }

.img__wrap2:hover .img__description {
      transform: translateY(0);
      background-color: #EEC33D;
  }

.img__wrap3:hover .img__description {
    transform: translateY(0);
    background-color: #EEC33D;
}

.img__wrap4:hover .img__description {
    transform: translateY(0);
    background-color: #EEC33D;
}

.img__wrap5:hover .img__description {
    transform: translateY(0);
    background-color: #EEC33D;
}

.img__wrap6:hover .img__description {
    transform: translateY(0);
    background-color: #EEC33D;
}

#map {
    width: 100%;
    height: 700px;
}

.info {
    padding: 6px 8px;
    font: 22px/24px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    font: 26px Arial, Helvetica, sans-serif;
    color: #777;
}

#authors {
    margin: 0;
    line-height: 50px;
    font-family: "Amatic SC";
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    color: black;
    height: 25px;
    padding: 45px;
    float: none;
    background: #ddceb7;
}

#calendar {
  padding: 50px;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}